/* RADIATED BOOK STYLE SHEET
		write in http://pad.constantvzw.org/p/mondotheque.radiatedbook.css 
		run ./getpad.sh
		refresh html to get css changes
*/


@page {
    size: 17cm 24cm; /* width height */
    margin-top:8%;
    margin-bottom: 16%;
    }
@page:first {
@bottom-center { content: ""; }
@bottom-right { content: ""; }
}

@page:blank {
    @top-center {content: none;}
    @top-right {content: none;}
    @top-left {content: none;}
}

@page:right {
    margin-left: 11%; /*inner*/
    margin-right:22%; /*outer*/ 

    @top-right {
        content: "Page " counter(page);
        font-size: 8pt;
        font-family: 'Cheltenham ATF' !important;    
	}
}

@page:left {
    margin-right: 11%; /*inner*/
    margin-left:22%; /*outer*/

    @bottom-left {
        content: "Page " counter(page);
        font-size: 8pt;
        font-family: 'Cheltenham ATF' !important;    
	 }
	
    @bottom-center {
        margin: 10pt 0 30pt 0;
        /* content: "The Radiated Book"; */
        font-size: 6pt;
    }
}


/*

@page:first {
@bottom-center { content: ""; }
@bottom-right { content: ""; }
}

*/

body{
    font-size:11pt;
    font-family: 'Cheltenham ATF' !important;
    font-style: inherit;
    font-weight: inherit;
    /*! padding: 0.5cm; */
}

p {orphans:2; widows:2;}    

a, a:visited {    color: black;
    text-decoration: none;
    border-bottom: 1px black solid;
    border-bottom-width: 0.5px;
}

pre {
font-family: monospace;
font-size:6pt;
letter-spacing:-0.5px;
white-space: pre-wrap;
}

img  {
    border: 1px black solid;
    max-width: 100%;
    height: auto;
    float:left;
    page-break-inside: avoid!important;
    margin-top:2%;
    margin-bottom:2%;
}

/* this should be of course be a proper 'Cheltenham ATF' bold ... */
strong, bold, b {
        font-style: inherit;
            font-weight: 600;
}

.name {font-family: sans-serif; }

.revision {font-family: monospace; font-size: 10pt; margin: 2% 0}

.references {display: block; clear: both; margin-top: 2%}

img.thumbborder {
    width: 155px;
    padding: 0px;
}
.thumb a, .image {border-bottom: none;}

.srf-gallery {
    width: auto;
}
.gallerybox {
float: left;
display: inline-block;
}

ul.gallery {
    padding-left: 0%;
    float: none;
    display: inline-block;
    width: auto;
}

.sourcebox, .personbox, .locationbox { 
list-style-type: none; /*property person*/ 
    display:inline-block;
    width: 50px !important;

}

div.gallerytext, div.sourcetext {
    text-align: left;
    vertical-align: top !important;
    display: inline-block;
    font-size: 7pt;
    max-height: 100px;
	overflow: hidden;
    }

div.sourcebox{ list-style-type: none;
     display: inline-block;
     width: 70px !important;
    }
 
.quote, blockquote {
    font-style: italic;
    margin-left: 8%;
	margin-right: 8%;
}


/*
h1.chaptertitle {
font-size: 40pt;
padding-left: 75%;
line-height: 30pt;text-align: right;
float: right;
page-break-before: always!important;
}*/

h1.chaptertitle {
font-size: 40pt;
/*padding-left: 75%;*/
line-height: 30pt;
text-align: right;
/*float: right;*/
page-break-before: always !important;
/*display: inline-block;
width: 25%;*/
margin-left: 80%;
}

h2.title {
font-size: 30pt;
font-weight: normal;
page-break-before: always;
page-break-after: avoid;
line-height: 28pt;
/* -webkit-column-span: all;  <-- creates an error in weasyprint */
margin-right: 75%;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Cheltenham ATF';
	line-height: 1em;
	font-style: normal;
	font-weight: normal;
	}
	
h3 {font-size: 18pt;
text-transform: uppercase;
font-variant: small-caps;
font-weight: normal;
       }

h4,h5,h6 {font-size: 18pt; }

.title {font-size: 30pt;
    page-break-before: always;    
    page-break-after: avoid;
}

.article {width: 100%;}

.book, .intro {
    font-size: 13pt !important;
}

/* .intro {
   text-transform: uppercase;
    font-variant: small-caps;
    letter-spacing: 0.05em;
/* font-weight: bold; */
 /* padding-right: 50%;/* 
}/* 



/* not valid  ID == not valid rule */
div.Une_lecture-écriture_du_livre_sur_le_livre p.h3 { font-size: 5pt!important;
	
}

.new{
     background: silver;
padding: 2px 2px 2px 2px;
border-bottom: none;
font-weight: initial;
}

sup a {font-weight: normal; border-bottom: none;}

.side {
    width: 30% !important;
        float:right;
        width:180px;
        right:-170px;
        font-size: 9pt;
        color:black;
       background:white;
       border-top: 0.5px solid #000;
     border-left: 0.5px solid #000;
padding:2%;
margin: 2%;
z-index:9;
clear:both;
}

.imgrt {
        width:114%;
        font-size:12px;
        color:black;
z-index:10;
}
 
.imgrt img{
    width:100%;
    margin:0 !important;
    border:none !important;
    }

.transource{
font-style:italic !important;
}

/*
.side {
    width: 30% !important;
float: right;
margin: 2%;
background: rgba(128, 128, 128, 0.14);
padding: 2%;
font-size: 9pt;
}


 .side b{
    display:none;
}
.side .selflink{
    display:none;
}*/

.references {
    /* font-family: NotCourierSans; */
   font-size: 8pt;
    width: 100%; 
    margin-top: 5%; 
    line-height: 1.5em; 
}

/*page Property:person*/
div#mw-pages{display:none!important;}

.sourceimage .thumbborder, .thumb .thumbborder{
    max-width: 200px;
    height: auto;
}

#Property\:person {
width: 100%}

div.sourcebox sup  {font-size: 6pt; 
line-height: 1em;
background-color: white;}

#pyramide .gallerytext, #pyramide .sourcetext {
  text-align: left;
    vertical-align: top !important;
    display: inline-block;
    font-size: 6pt;
    line-height:1em;
    }

div.article#Les\ Pyramides div.sourcetext {
text-align: left;
vertical-align: top !important;
display: inline-block;
font-size: 7pt;
overflow: hidden;
max-height: none;
max-width: 70%;}



.sourceimage, .sourcesoup{
    
    }

sup, .gallerytext {font-size: 7pt; line-height: 1.2em;}
.gallerytext, .sourcetext{padding-left: 0%; padding-right: 30%;}
.mw-tmh-playtext, .mw-cite-backlink {display:none;}

/* articles that page-break-before section 
must be wrapped in div.h3break 
in html_manipulate.py: LINE "if articlediv.get('id') in ['A bag but is language nothing of words'" 
*/
/*
div#A\ bag\ but\ is\ language\ nothing\ of\ words h3{ 
    page-break-before: always!important;
}*/

div#Madame\ C\/Mevrouw\ C h3{ 
    page-break-before: always!important;
}

div#An\ experimental\ transcript pre {
font-size:7pt !important;
}


div#An\ experimental\ transcript .image{
    display:inline-block;
    height:auto;
    width:auto;
    }
 
div#An\ experimental\ transcript .image img{
    border:none !important;
    margin:0;
    width:auto;
    height:90px !important;
    }
    
#a\.7Cb\.7Cc\.7Cd\.7Ce\.7Cf\.7Cg\.7Ch\.7Ci\.7Cj\.7Ck\.7Cl\.7Cm\.7Cn\.7Co\.7Cp\.7Cr\.7Cs\.7Ct\.7Cu\.7Cv\.7Cw\.7Cy\.7Cz, #a\.7Cb\.7Cc\.7Cd\.7Ce\.7Cf\.7Cg\.7Ch\.7Ci\.7Cj\.7Ck\.7Cl\.7Cm\.7Cn\.7Co\.7Cp\.7Cr\.7Cs\.7Ct\.7Cu\.7Cv\.7Cw\.7Cy\.7Cz_2, #An\ experimental\ transcript h4{
    display:none !important;
    }
 
/*.personbox{
    }
*/

/* STYLES FOR THE TRAITE INDEX */


div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre h3{

    }

div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre a{
    text-transform: uppercase;
    font-variant: small-caps;
    font-size: 10pt;
    }


div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre .image {    width: 50%;
    display: inline-block;
}

.chapeau {font-size: 13pt; 
	font-weight:normal;
}

.unit {}

.fragment {margin-left: 25%;
font-weight:normal;
}

div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre .new { font-style:italic;}

div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre .mw-headline {}     /* 411.1 Les documents. */

div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre p {
   }
   
div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre div.category-title {
	text-transform: uppercase;
	margin-top: 10pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	border-top: 0.1pt solid black;
   font-variant: small-caps;
   font-weight: bold;
   }


div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre .fragment  h3 span a{
font-variant: normal;
font-style: normal;
margin-bottom: 0;
    }

div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre .fragment span  {
font-variant: normal;
font-style: normal;
   font-weight: normal;
margin-bottom: 0;
font-size:11pt;
    }

div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre .indeximage:after{
content:".";
display:block;
clear:both;
visibility:hidden;
}
    
div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre .indeximage .image{
position:relative;
float:left;
width:50%;
    }
    
div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre .caption {
position:relative;
float:left;
left:15px;
width:40%;
font-size: 9pt!important;
    }
    
div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre .refref {
position:relative;
left:15px;
padding-top:2%;
    }
 

div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre img{
width:100%;
}    

div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre img.thumbborder{ 
    display: inline-block;
    max-width: 100%!important;
    height: auto!important;
     } 


div.article#Une\ lecture-\écriture\ du\ livre\ sur\ le\ livre div.fragment h4{ display:none;
} /* hides filename from imgs*/    

div.mediaContainer { display: none !important; }

div.article#House\,\ City\,\ World\,\ Nation\,\ Globe td:nth-child(3), div.article#House\,\ City\,\ World\,\ Nation\,\ Globe td:nth-child(4) {
text-align:center;
}

#les\ utopistes table{
    font-size:9pt;
    }   
 

div#The\ Itinerant\ Archive .inter {
    color: red;    }

div#The\ Itinerant\ Archive .gallerytext {
    color: blue;  
    padding-right: 45%;  }

div#The\ Itinerant\ Archive .gallerybox {
float: left;
display: inline-block;
width: 100px !important;
}

div#The\ Itinerant\ Archive .guide {
	color: green;
}

